# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*
*.tfplan

# Crash logs
crash.log
crash.*.log

# Exclude tfvars files (often contain secrets)
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform lock info file
.terraform.tfstate.lock.info

# CLI config files
.terraformrc
terraform.rc
