global:
  resolve_timeout: {{ alertmanager_resolve_timeout }}

route:
  receiver: "{% if discord_webhook_url is defined and discord_webhook_url | length > 0 %}discord{% else %}default{% endif %}"
  group_by: ["alertname", "instance", "job"]
  group_wait: {{ alertmanager_group_wait }}
  group_interval: {{ alertmanager_group_interval }}
  repeat_interval: {{ alertmanager_repeat_interval }}

receivers:
  - name: "default"
{% if discord_webhook_url is defined and discord_webhook_url | length > 0 %}
  - name: "discord"
    discord_configs:
      - webhook_url: "{{ discord_webhook_url }}"
        send_resolved: true
{% endif %}

inhibit_rules: []
