aws_region          = "eu-north-1"
project_name        = "autoops"
environment         = "dev"
vpc_cidr            = "10.0.0.0/16"
public_subnet_cidr  = "10.0.1.0/24"
private_subnet_cidr = "10.0.2.0/24"
ssh_cidr            = "YOUR_PUBLIC_IP/32"
monitoring_instance_ami  = "ami-0aaa636894689fa47"
monitoring_instance_type = "t3.micro"
app_instance_ami         = "ami-0aaa636894689fa47"
app_instance_type        = "t3.micro"
app_instance_count       = 2
