global:
  resolve_timeout: 5m

route:
  receiver: "{% if discord_webhook_url is defined and discord_webhook_url | length > 0 %}discord{% else %}default{% endif %}"
  group_by: ["alertname", "instance", "job"]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h

receivers:
  - name: "default"
{% if discord_webhook_url is defined and discord_webhook_url | length > 0 %}
  - name: "discord"
    discord_configs:
      - webhook_url: "{{ discord_webhook_url }}"
        send_resolved: true
{% endif %}

inhibit_rules: []
