apiVersion: 1

providers:
  - name: "AutoOps Dashboards"
    orgId: 1
    folder: "AutoOps"
    type: file
    disableDeletion: false
    editable: true
    updateIntervalSeconds: 30
    options:
      path: /var/lib/grafana/dashboards
